* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
  color: #444;
}

#mainScreen {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 100%;
}

.design-background {
  background-image: url("images/background.png");
  opacity: 10%;

  width: 100%; 
  height: 100%;

  position: absolute;
  top: 0px;
  left: 0px;

  overflow: hidden;
  z-index: 1;
}

.background {
  background-image: url("images/background.png");
  opacity: 0.05;

  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  
  z-index: -3;
}

.navbar-button:hover {
  transform: scale(120%);
  transition: 0.15s;
}

.navbar-button {
  transition: 0.15s;
}