* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
  color: #444;
}

#mainScreen {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 100%;
}
