.home-page-main {
  padding: 0 4.8rem;
}

.home-page-searchbar {
  display: flex;
}

.home-page-searchbar-input {
  font-family: inherit;
  outline: none;
  padding: 0.4rem 0.8rem;
  width: 30rem;
  border-radius: 5px 0px 0px 5px;
  font-size: 1.6rem;
  border-width: 1px;
  border-color: #48484a;
}

.home-page-searchbar-btn {
  border: none;
  background-color: #48484a;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0 5px 5px 0;
  font-size: 1.6rem;
}

.class-list {
  background-color: blue;
  height: 60vh;
}

.form {
  position: relative;
}

.form .fa-search {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #9ca3af;
}

.form span {
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;
}

.left-pan {
  padding-left: 7px;
}

.left-pan i {
  padding-left: 10px;
}

.form-input {
  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
}

.form-input:focus {
  box-shadow: none;
  border: none;
}
