.home-page-main {
  padding: 0 4.8rem;
}

.home-page-searchbar {
  display: flex;
}

.home-page-searchbar-input {
  font-family: inherit;
  outline: none;
  padding: 0.4rem 0.8rem;
  width: 30rem;
  border-radius: 5px 0px 0px 5px;
  font-size: 1.6rem;
  border-width: 1px;
  border-color: #48484a;
}

.home-page-searchbar-btn {
  border: none;
  background-color: #48484a;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0 5px 5px 0;
  font-size: 1.6rem;
}

.class-list {
  background-color: blue;
  height: 60vh;
}
