.logo {
  height: 3.2rem;
}

.home-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  background-color: #f3f3f3;
  margin-bottom: 3.6rem;
}

.home-page-header-nav {
  display: flex;
  justify-content: space-between;
  gap: 15rem;
  align-items: center;
}

.home-page-header-nav-item {
  font-size: 1.8rem;
}

.home-page-header-nav-icon {
  height: 3.6rem;
}

.home-page-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-style: solid; */
  /* border-width: 1px; */
  width: 6rem;
  height: 6rem;
  /* border-radius: 50%; */
}

.home-page-searchbar {
  margin-bottom: 4.8rem;
}
